name: Release

on:
  release:
    types: [published]  # Triggers when a release is published

permissions:
  contents: write

jobs:
  upload-binaries:
    name: Build & Upload Rust Binaries
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
          - os: macos-latest
            target: x86_64-apple-darwin
          - os: windows-latest
            target: x86_64-pc-windows-msvc

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable

      # Install Linux dependencies if needed
      - name: Install Linux dependencies
        if: runner.os == 'Linux'
        run: |
          sudo apt update
          sudo apt install -y libpipewire-0.3-dev libegl1-mesa-dev libgl1-mesa-dev libgbm-dev

      - name: Build & Upload Binary
        uses: taiki-e/upload-rust-binary-action@v1
        with:
          bin: pixel-peeker
          target: ${{ matrix.target }}
          archive: ${{ matrix.os }}-${{ matrix.target }}-${{ github.ref_name }}
          tar: unix
          zip: windows
          checksum: sha256,sha512
          token: ${{ secrets.GITHUB_TOKEN }}
